doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='http://www.bbc.co.uk') BBC
    span &nbsp;|&nbsp;
    a(href='/') Home
    span &nbsp;|&nbsp;
    a(href='/users') Users
    block content
